# Flock You WiFi AP - used when button toggles AP on
# country_code required or AP may not broadcast (SSID invisible to clients)
country_code={{ ap_country_code }}
interface={{ ap_interface }}
driver=nl80211
ssid={{ ap_ssid }}
hw_mode=g
channel=6
wpa=2
wpa_passphrase={{ ap_passphrase | default('flockyou-config') }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=CCMP
